@page "/Admin/Product-List"
@rendermode InteractiveServer
@inject IJSRuntime JsRuntime
@using FishCoinBlazorApp.Entites.Product
@inject FishCoinBlazorApp.Services.Admin.AdminProductService AdminProductService

<Topbar Title="პროდუქტების სია" />

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center gap-1">
                <h4 class="card-title flex-grow-1">ყველა პროდუქტი</h4>
                
                <div class="d-flex align-items-center gap-2">
                    <input type="text" class="form-control form-control-sm" placeholder="ძებნა..." @bind="SearchTerm" @bind:event="oninput" @onkeyup="HandleSearch" />
                    <a href="Admin/CreateOrUpdate" class="btn btn-sm btn-primary">პროდუქტის დამატება</a>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table align-middle mb-0 table-hover table-centered">
                    <thead class="bg-light-subtle">
                        <tr>
                            <th>ფოტო</th>
                            <th>დასახელება</th>
                            <th>ფასი</th>
                            <th>რაოდენობა</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Products != null)
                        {
                            @foreach (var product in Products)
                            {
                                <tr>
                                    <td>
                                        <div class="rounded bg-light avatar-md d-flex align-items-center justify-content-center">
                                            <img src="@product.ImageUrl" alt="" class="avatar-md">
                                        </div>
                                    </td>
                                    <td>@product.Name</td>
                                    <td>₾@product.Price</td>
                                    <td>@product.StockQuantity</td>
                                    <td>
                                        <div class="d-flex gap-2">
                                            <a href="/Admin/CreateOrUpdate/@product.Id" class="btn btn-soft-primary btn-sm"><iconify-icon icon="solar:pen-2-broken" class="align-middle fs-18"></iconify-icon></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

            <div class="card-footer border-top">
                <nav>
                    <ul class="pagination justify-content-end mb-0">
                        <li class="page-item @(CurrentPage == 1 ? "disabled" : "")">
                            <a class="page-link" @onclick="() => ChangePage(CurrentPage - 1)">წინა</a>
                        </li>
                        @for (int i = 1; i <= TotalPages; i++)
                        {
                            var pageNumber = i;
                            <li class="page-item @(CurrentPage == pageNumber ? "active" : "")">
                                <a class="page-link" @onclick="() => ChangePage(pageNumber)">@pageNumber</a>
                            </li>
                        }
                        <li class="page-item @(CurrentPage == TotalPages ? "disabled" : "")">
                            <a class="page-link" @onclick="() => ChangePage(CurrentPage + 1)">შემდეგი</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

@code {
    private List<Product> Products; // შენი მოდელი FishCoinDb-დან
    private string SearchTerm = "";
    private int CurrentPage = 1;
    private int TotalPages;
    private int PageSize = 10;

    protected override async Task OnInitializedAsync()
    {
        await LoadProducts();
    }

    private async Task LoadProducts()
    {
        // ბექენდთან დაკავშირება
        var result = await AdminProductService.GetPagedProductsAsync(CurrentPage, PageSize, SearchTerm);
        Products = result.Products;
        TotalPages = result.TotalPages;
    }

    private async Task HandleSearch()
    {
        CurrentPage = 1;
        await LoadProducts();
    }

    private async Task ChangePage(int page)
    {
        CurrentPage = page;
        await LoadProducts();
    }
}